<div>
    <a href="https://www.linkedin.com/in/oscarfuentealba1990/"><img src="../../../assets/linkedin.png" id="linkedin" alt="" aria-label="linkedin"></a>
    <a href="https://twitter.com/OzFuentealba"><img src="../../../assets/twitter.png" id="twitter" alt="" aria-label="twitter"></a>
    <a href="https://www.instagram.com/ozfuentealba/"><img src="../../../assets/instagram.png" id="instagram" alt="" aria-label="instagram"></a>
    <a href="https://github.com/ozfont"><img src="../../../assets/github.png" id="github" alt="" aria-label="github"></a>
    <a href="https://www.facebook.com/OzFuentealba/"> <img src="../../../assets/facebook.png" id="facebook" alt="" aria-label="facebook"></a>
</div>

